<!-- Header -->
<section class="account btn-group">
  <!-- Big button for dropdown -->
  <div class="btn dropdown-toggle" data-toggle="accountDropdown">
    <img id="avatar" src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}" width="24" height="24">
    <h4>{{user.login}} <span class="caret"></span></h4>
  </div>
  <!-- Dropdown content -->
  <ul class="account-dropdown-menu" role="menu">
    <li><a href="#">Settings</a></li>
    <li class="divider"></li>
    <li><a href="#!/login" ua-logout class="btn btn-square pull-right"> <i class="fa fa-sign-out"></i> Logout</a></li>
  </ul>
</section>

<section class="alerts">
  <a href=""><i class="fa fa-inbox"></i></a>
</section>

<section class="adder">
  <form class="form-inline" role="form">
    <div class="form-group">
      <input type="text" class="form-control" id="newLink" placeholder="ex. http://sendmark.io @apps @checkit #awesome">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
  </form>
</section>
