<!-- Header -->
<div ng-controller="HeaderCtrl">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <ul class="nav navbar-nav account">
        <li class="dropdown">
        <!-- Big button for dropdown -->
        <a class="dropdown-toggle">
          <img id="avatar" src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}" width="24" height="24">
          <h4>{{user.login}} <span class="caret"></span></h4>
        </a>
        <!-- Dropdown content -->
        <ul class="dropdown-menu" >
          <li><a href="#!/settings" ng-class='{active: isActive("/settings")}'>Settings</a></li>
          <li class="divider"></li>
          <li>
            <a href="#!/login" ua-logout><i class="fa fa-sign-out"></i> Logout</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="isCollapsed">

      <section class="inbox" ng-class='{active: isActive("/inbox")}'>
        <a href="#!/inbox"><i class="fa fa-inbox"></i></a>
      </section>

      <form class="adder" role="search">
        <div class="form-group">
          <input type="text" class="form-control" id="newLink" placeholder="ex. http://sendmark.io @apps @checkit #awesome">
        </div>
        <button type="submit" class="btn btn-default">Add</button>
      </form>

    </div><!-- /.navbar-collapse -->
  </div>