<section ng-show='user.authorized' ng-controller="ListsCtrl">
  <h5>LISTS</h5>

  <ul data-ng-init="find()">
    <li ng-repeat="list in global.lists" ng-class='{ active: isActive(list._id)}'>
        <a ng-href="#!/lists/{{list._id}}">{{list.name}}</a>
    </li>

    <h2 ng-hide="!lists || lists.length">No lists yet.</h1>

    <li ng-controller="ModalCreateListCtrl"><button type="button" class="btn btn-default btn-sm outline" ng-click="open()"><i class="fa fa-plus"></i> New</button></li>
  </ul>
</h2>


