
      <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="fa-stack-1x">S</span>
        </span>
      </h1>

      <form ua-login ua-error="error-msg" ng-controller="LoginCtrl">
          <div class="form-group">
            <div class="input-group">
                <input name="login" type="text" class="form-control" placeholder="Username">
                <span class="addon"><i class="fa fa-user"></i></span>
            </div>

            <div class="input-group">
              <input name="password" type="password" class="form-control" placeholder="Password">
              <span class="addon"><i class="fa fa-lock"></i></span>
            </div>
          </div>

          <button type="submit" ng-click="showLoader()" class="btn btn-default"><span ng-hide="loading">Log in</span><i class="fa fa-refresh fa-spin" ng-show="loading"></i></button>

          <p id="error-msg"></p>
      </form>

      <h4><i class="fa fa-circle"></i></h4>
      <a href="#!/signup" class="">Sign up for free!</a>
