<!-- Signup -->
<section class="content-center-rows" id="login">
  <h1>S</h1>

  <form ua-signup ua-error="error-msg">
    <div class="form-group">
      <div class="input-group">
        <input name="first_name" type="text" class="form-control" placeholder="First Name">
      </div>

      <div class="input-group">
        <input name="login" ua-is-email type="text" class="form-control" placeholder="Email">
      </div>

      <div class="input-group">
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
    </div>

    <button type="submit" class="btn btn-default">Signup</button>
  </form>

  <h4 id="error-msg"></h4>

  <a href="#!/login">Already signed up? Login</a>
</section>
