#links {
  margin-top: 60px;
  font-size: 14px;

  .links-header {
     border-bottom: 1px solid #ccc;
  }

  h1 {
    display: inline-block;
    margin-top: 0px;
  }

  .row > .col-md-8 > section {
    width: 100%;
  }

  .form-group {
    margin-right: 10px;
    clear: left;
  }

  .form-group > input[type='text'].form-control {
    display: block;
    float: left;
    width: 100%;
  }

  .btn-group {
    display: block;
  }

  ul.actions {
    float: right;

    li {
      list-style: none;
      line-height: 24px;

      a {
        color: $font-color;
        font-weight: bold;
      }
    }
  }
  .links {
    ul {
      margin-top: 0px;
      padding: 0;

      li {
        display: block;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ccc;

      }
    }

    ul > li > a {
      display: block;
      width: 100%;
      padding: 20px 0;
      font-size: 20px;
      color: #555555;

      h2 {
        display: block;
        width: 100%;
        font-size: 18px;
        margin-bottom: 10px;
        padding: 0px;
        line-height: 14px;
      }

      small {
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 14px;
        margin-top: 0px;
        color: lighten(#555, 30%);
      }

      date {
        display: inline-block;
        text-align: right;
        float: right;
        font-size: 12px;
        line-height: 14px;
        color: lighten(#555, 30%);
      }
    }

    ul > li:hover > a {
      text-decoration: none;
     }

    ul > li:hover {
      background: lighten(#ccc, 18%);
    }
  }
}