// Shadow for list header on scroll
.shadow {
  box-shadow: 0px 1px 3px lighten(#555, 50%);
  @include transition (all 0.3s ease-in-out);
}

#links {
  margin-top: 60px;
  font-size: 14px;
  padding-right: 20px;

  .links-header {
    width: inherit;
    background: #fff;
    border-bottom: 1px solid #ccc;
    @include transition (all 0.1s ease-in-out);

    h1 {
      text-align: right;
    }
  }

  h1 {
    display: inline-block;
    margin-top: 0px;
  }

  .row > .col-md-8 > section {
    width: 100%;
  }

  .form-group {
    margin-right: 10px;
    clear: left;
  }

  .form-group > input[type='text'].form-control {
    display: block;
    float: left;
    width: 100%;
  }

  .btn-group {
    display: block;
  }

  ul.actions {
    margin:0px;


    li {
      display: inline-block;
      margin-right: 8px;
      list-style: none;
      line-height: 33px;

      a {
        color: darken($light-grey-color, 20%);
        font-weight: bold;
        @include transition (color 0.1s ease-in-out);
      }

      a:hover {
        text-decoration: none;
        color: darken($light-grey-color, 40%);
        @include transition (color 0.1s ease-in-out);
      }
    }

    // Color item count lighter
    li:first-child {
      font-weight: $light;
      color: darken(#ccc,20%);
    }

    li:last-child {
      margin-right: 0px;
    }
  }
  .links {
    ul {
      margin-top: 0px;
      padding: 0;

      li {
        display: block;
        width: 100%;
        //height: 78px;
        list-style: none;
        padding: 0;
        margin: 0;
        border-top: 1px solid #ccc;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        input[type=checkbox] {
          display: none;
        }

        input[type=checkbox] + label {
          float: left;
          cursor: pointer;
          // Disable annoying text highlighting
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          margin-bottom: 0px;
        }

        input[type=checkbox] + label:before {
          cursor: pointer;
          content: "\f10c";
          display: block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #fff;
          line-height: 78px;
          float: left;
          width: 25px;
          height: inherit;
          margin-right: 15px;
          text-align: center;
          background: lighten($light-grey-color, 20%);
          @include transition (all 0.4s ease-out);
        }

        input[type=checkbox]:checked + label:before {
          content: "\f00c";
          background: $salmon-color;
        }

        a {
        display: block;
        width: 100%;
        padding: 20px 0;
        font-size: 20px;
        color: #555555;
         @include transition (all 0.4s ease-out);

          h2 {
            display: block;
            width: 100%;
            font-size: 18px;
            margin-bottom: 10px;
            padding: 0px;
            line-height: 14px;
            //overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          small {
            display: block;
            width: 100%;
            font-size: 14px;
            line-height: 14px;
            margin-top: 0px;
            color: lighten(#555, 30%);

          }

          date {
            display: block;
            text-align: right;
            float: right;
            font-size: 12px;
            line-height: 14px;
            color: lighten(#555, 30%);
          }
        }

      }

      li:first-child:not(.selected) {
        border-top: none;
      }

      li:last-child:not(.selected) {
        border-bottom: 1px solid #ccc;
      }

      .selected {
        display: block;
        padding: 0 15px 0 0;
        border-top: 1px solid $salmon-color;
      }

      .selected + li {
        border-top: 1px solid $salmon-color;
      }

      @media screen and (max-width: 1100px) {
        li {
          input[type=checkbox] + label:before {
            line-height: 62px;
            @include transition (all 0.4s ease-out);
          }

          a {
            padding: 14px 0;
            @include transition (all 0.4s ease-out);

            h2 {
              font-size: 16px;
              margin-bottom: 6px;
            }

            small {
              font-size: 13px;
            }
          }
        }

        .selected:before {
          line-height: 62px;
          @include transition (all 0.4s ease-out);
        }
      }
    }

    ul > li:hover > a {
      text-decoration: none;
     }

    ul > li.selected, ul > li:hover {
      background: lighten(#ccc, 18%);
    }
  }
}