#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0;
  background: #34AADC;
  // GPU Accelerate
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  .account {
    display: block;
    //float: left;
    background: #20769B;

    img#avatar {
      display: inline-block;
      margin: 0 8px;
      @include border-top-radius(999px);
      @include border-bottom-radius(999px);
      @include border-left-radius(999px);
      @include border-right-radius(999px);
      border: 1px solid #fff;
    }

    h4 {
      display: inline-block;
      color: #fff;
      margin: 0px;
      padding: 0px 10px 0 0;
      line-height: 40px;

      .caret {
        margin: 0 0 0 8px;
        border-top-color: rgba(255,255,255,0.5);
      }
    }

    a.dropdown-toggle {
      display: inline-block;
      padding: 15px;
      padding: 0px;
    }

    a.dropdown-toggle:hover, a.dropdown-toggle:active, a.dropdown-toggle:focus {
      background: darken(#20769B, 5%);
    }

    li.dropdown.open > a.dropdown-toggle {
      background: darken(#20769B, 5%);
    }

    .dropdown-menu {
      z-index: 99999 !important;
    }
  }

  .account:hover {
    cursor: pointer;
    background: darken(#20769B, 5%);
  }

  .inbox {
    display: block;
    height: 40px;
    overflow: hidden;
    padding: 0 10px;
    line-height: 40px;
    float:left;

    a {
      color: #20769B;
      font-size: 18px;
      line-height: 40px;
    }

    a:hover {
      color: darken(#20769B, 5%);
    }
  }

  .inbox.active {
    background: $salmon-color;

    a, a:hover {
      color: #fff;
    }
  }

  .adder {
   display: block;
   float: left;
  }

  .adder {
    display: block;

    .form-group {
      float: left;
    }

    .form-group > input[type='text'].form-control {
      display: block;
      height: 40px;
      margin: 0;
      padding: 0 20px;
      border: none;
      background: #8ADCFF;
      box-shadow: none;
      font-size: 13px;
      min-width: 400px;
      @include border-top-radius(0px);
      @include border-bottom-radius(0px);
      @include border-left-radius(0px);
      @include border-right-radius(0px);
      color: #20769B;

      @include placeholder {
        color: lighten(#34AADC,5%);
        font-weight: $light;
      }
    }

    .btn {
      display: block;
      float: left;
      height: 40px;
      background: $secondary-color;
      color: #fff;
      font-size: 13px;
      font-weight: $bold;
      border: none;
      box-shadow: none;
      @include border-top-radius(0px);
      @include border-bottom-radius(0px);
      @include border-left-radius(0px);
      @include border-right-radius(0px);
    }

    .btn:hover {
      background: darken($secondary-color, 5%);
    }

    .btn:active, .btn:focus {
      box-shadow: none;
    }
  }
}