
/** Palette Colors **/

$white: #fff;
$blue-color: #568CFE;
$light-blue-color: #CDE1FF;
$green-color: #50FA7B;
$red-color: #F35656;
$orange-color: #FFB86C;
$dark-orange-color: #F77461;
$pink-color: #FF79C6;
$semi-black-color: #484C55;
$dark-color: #282A36;
$light-grey-color: #B5B5B5;

/** Theme Colors **/

$primary-color: $blue-color;
$secondary-color: $light-blue-color;
$accent-color: #CDCDCD;
$primary-background-color: $white;
$secondary-background-color: #F9F9F9;

$success-color: $green-color;
$warning-color: $red-color;

$font-color: $semi-black-color;
$secondary-font-color: $light-grey-color;
$link-color: #568CFE;
$highlight-color: #56C1F7;

