<section data-ng-controller="ListsCtrl" data-ng-init="findOne()">
    <!-- List info -->

    <!-- Show edit/delet buttons if user is list creator -->
    <a class="btn btn-default" data-ng-click="remove();">
        <i class="fa fa-trash-o"></i> Delete List
    </a>
    <!-- List links in list -->
    <ul>
        <li ng-repeat="link in list._items">
            <h2><a ng-href="{{link.url}}" target="_blank">{{link.url}}</a></h2>
            <time>{{link.created}}</time>
        </li>
    </ul>

    <h2 ng-hide="!list._items || list._items.length">No links yet.</h1>
</section>
