<section data-ng-controller="ListsController" data-ng-init="findOne()">
    <span>{{list.created | date:'medium'}}</span>/
    <span>{{list.user.name}}</span>
    <h2>{{list.name}}</h2>
    <!-- Show edit/delet buttons if user is list creator -->
    <div data-ng-show="global.user._id == list.user._id">
        <a class="btn" href="/#!/articles/{{article._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{article.content}}</div>
</section>
