extends auth

block auth
  form(ua-signup='ua-signup', ua-error='error-msg', action='/signup', method='POST')
    input.form-control(name='first_name', placeholder='Your name')
    br
    input.form-control(name='login', ua-is-email='ua-is-email', placeholder='Email')
    br
    input.form-control(name='password', placeholder='Password', type='password')
    br
    p
      button.btn.btn-primary(type='submit') Create account
      | or
      a(href='', ua-oauth-link='google') Sign up with Google
    p#error-msg
