extends layouts/default

block content
  nav.navbar-static-top.animated.slideInDown#header(ng-include="'views/header.html'", ng-show="user.authorized")
  div.grid.columns.split200
    div.bar#listsAndTags(ng-include="'views/sidebar.html'")
    div.content#links(ng-view)
  nav.content-center-rows#actions(action, ng-include="'views/actions.html'", ng-controller="LinksCtrl", ng-class="{visible: global.actionsIsOpen}")
  script(type="text/javascript").
    window.user = !{user};
