extends layouts/default

block content
  div.grid.columns.split350(ng-controller="IndexCtrl", ng-show='user.authorized')
      aside.bar#lists-container(ng-include="'views/sidebar.html'", ng-controller="ListsCtrl")
      section.content
        div.grid.rows.split50.bottom
          aside.bar#finder(ng-include="'views/finder.html'")
          section.content#links-container
            section(ng-view)
  section.centered#login(ng-hide='user.authorized')
    section(ng-view)
  script(type="text/javascript").
    window.user = !{user};
