doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    div.grid.columns.split350(ng-controller="IndexCtrl")
      aside.bar#lists-container(ng-include="'views/sidebar.html'", ng-controller="ListsCtrl")
      section.content
        div.grid.rows.split50.bottom
          aside.bar#finder(ng-include="'views/finder.html'")
          section.content#links-container
            block content
    include ../includes/foot
